.cf:after,
.cf:before {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.info {
    padding-top: 25px;
    padding-bottom: 25px;
}

.link {
    color: #2B5094;
}

.customButton {
    color: #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.customer {
    text-align: center;
}